.nav_container {
    background-color: #ffffff; 
  }
  
  .nav_header {
    position: relative; 
    background-color: #ffffff; 
    height: 100px;
  }
  .custom_nav {
    padding: 1rem 2rem;
  }
  .nav_items {
    display: flex; 
    height: 4rem; 
    align-items: center;  
    justify-content: space-between
  }
  .navbar__logo{
      margin-left: 10px;
  }
  .navbar__logo img {
      display: flex;
      align-items: center;
      height: 60px;
  }
  .nav_left{
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      gap: 25px;
  }
  .nav_links{
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      gap: 30px;
      font-size: 18px;
  }
  .nav_links a:hover {
    color: #679830; 
  }