.block_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 35vh;
  width: 100%;
  margin: 10rem 0rem;
}

.homeImage {
  width: 580px;
  max-width: 800px;
  border-radius: 10px;
  height: 480px;
}

.block_content {
  margin-left: 2rem;
  text-align: left;
}

.homeLeaf {
  margin-bottom: 1rem;
}

.block_title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.block_description {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #666;
}

.homeButton {
  display: inline-flex;
  padding: 0.8rem 1.5rem;
  background-color: #679830;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  height: 45px;
  align-items: center;
  gap: 0.5rem;
}

.homeButton:hover {
  background-color: #82bb42;
}

.button_icon {
  font-size: 1.25rem;
}

.button_text {
  font-size: 14px;
}
