.home_container {
    display: flex;
    background-color: #F7F3F5;
    flex-direction: column;
  }
  
  .home_section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    margin: 7rem;
  }
  
  .home_image {
    width: 550px;
    max-width: 800px;
    height: 543px;
  }
  
  .home_content {
    margin-left: 2rem;
    text-align: left;
  }
  
  .home_title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  .home_price{
    font-size: 1.5rem;
  }
  
  .home_description {
    font-size: 1rem;
    margin-bottom:0.5 rem;
    width: 80%;
  }
  
  .home_button {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    background-color: #679830;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .home_button:hover {
    /* background-color: darken(#8bc34a, 10%); */
    background-color: #82bb42;
  }


  /*products*/
  .best_selling_products {
    margin: 0rem 0;
  }
  
  .best_selling_products h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
  }
  